<div class="modal-header">
	<h4 class="modal-title">Installing</h4>
</div>
<div class="modal-body">
	<div class="container">
		<div class="jumbotron welcome-panel">
			<h1>Installing</h1>
			<div class="progress">
			  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			    <span class="sr-only">Installing...</span>
			  </div>
			</div>
			
			<a href="#" class="toggle-install-details">Details...</a>
			<div class="install-console"><div class="install-text"></div></div>
			
		</div>
	</div>
</div>
