.plugin-setup-wizard {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
    background: rgba(255,255,255,.9);
    text-align: initial;
    
    .modal-dialog {
	  width: 90%;
	  height: 90%;
	  padding: 0;
	  position: relative;
	}
	
	.modal-content {
	    height: 100%;
	    overflow: hidden;
	    position: relative;
	    box-sizing: border-box;
	    padding: 4.2em 0 4.8em 0;
	}
	
	.modal-body {
		background: linear-gradient(175deg, #f8f8f8 0%, rgba(255, 255, 255, 1) 22%, rgba(255, 255, 255, 0) 100%);
	    overflow: auto;
	    height: 100%;
	}
	
	.modal-header {
		position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    height: 4.2em;
	    z-index: 2;
	    background: #fff;
	    border-radius: 5px 5px 0 0;
	}
	
	.modal-footer {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 4.8em;
		padding: 1em;
	    z-index: 2;
	    background: #fff;
	    border-radius: 0 0 5px 5px;
	}
	
	.plugin-selector {
		.categories {
			
			> div {
			    padding: .5em 0;
			    border-bottom: 1px solid #eee;
			    
			    &.selected {
			    	background: red;
			    }
		    }
	    }
	}
	
	.install-console {
	    border: 1px solid #eee;
	    background: #f8f8f8;
	    padding: 1em;
	    margin: 1em 0;
	    border-radius: 3px;
	    height: 12em;
	    display: none;
		.install-text {
		    font: 12px monospace;
		    overflow: auto;
		    height: 100%;
	   }
	}
	
	.welcomePanel {
		background: transparent;
		
		.btn-huge {
		    display: inline-block;
		    text-align: initial;
		    width: 22em;
		    white-space: normal;
		    vertical-align: top;
		    min-height: 10em;
	        margin-right: 1em;
			
			b {
				display: block;
				font-size: 1.9em;
			}
			span {
				display: block;
			}
		}
	}
}
