<div class="modal-header">
	<h4 class="modal-title">Plugin Selection</h4>
</div>
<div class="modal-body">
	<div class="plugin-selector">
		<div class="categories col-sm-3">
		  {{#each categorized}}
		  <div class="{{#ifeq @key ../selectedCategory}}selected{{/ifeq}}">{{@key}}</div>
		  {{/each}}
		</div>
		<div class="plugins col-sm-9">
			<table>
				<tbody>
					{{#each selectedCategoryPlugins}}
					<tr>
						<td>{{plugin.title}}</td><td>{{{plugin.excerpt}}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary install-home">
		Back
	</button>
	<button type="button" class="btn btn-primary install-selected">
		Install
	</button>
</div>
