<div class="modal-body">
	<div class="container">
		<div class="jumbotron welcomePanel">
			<h1>Installing</h1>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			    <span class="sr-only">Installing...</span>
			  </div>
			</div>
		</div>
	</div>
</div>
