<div class="modal-header">
	<h4 class="modal-title">Offline</h4>
</div>
<div class="modal-body">
	<div class="container">
		<div class="jumbotron welcome-panel">
			<h1>Offline</h1>
			<p>This Jenkins instance appears to be offline...</p>
		</div>
	</div>
</div>
