<div class="modal-header">
	<h4 class="modal-title">Installed</h4>
</div>
<div class="modal-body">
	<div class="container">
		<div class="jumbotron welcome-panel">
			<h1>Jenkins is ready!</h1>
			<p>Your plugin installations are complete.</p>
			<button type="button" class="btn btn-primary install-done">
				Get Started
			</button>
		</div>
	</div>
</div>
