<div class="modal-header">
	<h4 class="modal-title">Plugin Selection</h4>
</div>
<div class="modal-body">
	<div class="container">
		<div class="jumbotron welcome-panel">
			<h1>Welcome to Jenkins</h1>
			<p>
				Choose the initial set of plugins you would like to have
				installed in Jenkins
			</p>
			<p>
				<a class="btn btn-primary btn-lg btn-huge install-recommended" href="#" role="button">
					<b>Recommended Jenkins plugins</b>
					<sub>
						Install the set of plugins the community finds more useful
					</sub>
				</a>
				
				<a class="btn btn-primary btn-lg btn-huge install-custom" href="#" role="button">
					<b>Customize your plugins</b>
					<sub>
						Select your plugins from a community approved list of top plugins
					</sub>
				</a>
			</p>
		</div>
	</div>
</div>
